{
  "isDebug": false,
  "port": 3000,
  "host": null,
  "db": {
    "url": "mongodb://localhost/uh"
  },
  "session": {
    "cookieName": "session",
    "secret": "secretsalt",
    "duration": 86400000,
    "activeDuration": 300000
  },
  "ulogin": {
    "callbackUrl": "//localhost:3000/ulogin/callback"
  },
  "staticRoute": "public-static"
}
