doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title uSheet signin uCoz iframe wrapper
	body
		script(src='//ulogin.ru/js/ulogin.js')
		div(
			id='uLogin'
			data-ulogin=[
				'display=panel',
				'fields=email,first_name,last_name',
				'providers=uid',
				'redirect_uri=' + callbackUrl
			].join(';')
		)
