.panel.panel-default
	.panel-heading
		.row
			.col.col-md-6
				h5 Список опубликованных материалов
			.col.col-md-6.align-right
				.btn-group
					button.btn.btn-success.add-material Добавить материал
	table.table
		thead
			th URL сайта
			th Заголовок материала
			th Добавлен
		tbody
