form.add-site.panel.panel-success
	.panel-heading
		h4 Привязка нового сайта
		p
			a(href='http://api.ucoz.net/ru/join' target='_blank') Информация о том, где можно получить необходимые данные для заполнения формы
	.fields-list.panel-body
	.panel-footer
		.btn-group
			button.add-site.btn.btn-primary Привязать сайт
			button.back-to-list.btn.btn-warning Вернуться к списку привязанных сайтов
