form.add-site.panel.panel-success
	.panel-heading Привязка нового сайта
	.fields-list.panel-body
	.panel-footer
		.btn-group
			button.add-site.btn.btn-primary Привязать сайт
			button.back-to-list.btn.btn-warning Вернуться к списку привязанных сайтов
