.panel.panel-default
	.panel-heading
		.row
			.col.col-md-6
				h5 Список привязанных сайтов
			.col.col-md-6.align-right
				.btn-group
					button.btn.btn-success.add-site Привязать сайт
	.panel-body
		a(href='http://api.ucoz.net/ru/join' target='_blank') Информация о том, где можно получить необходимые данные для заполнения формы
	table.table
		thead
			th URL
			th
		tbody
