.panel.panel-default
	.panel-heading
		.row
			.col.col-md-6
				h5 Список привязанных сайтов
			.col.col-md-6.align-right
				.btn-group
					button.btn.btn-success.add-site Привязать сайт
	table.table
		thead
			th URL
			th
		tbody
