.panel.panel-default
	.panel-heading
		.row
			.col.col-md-6
				h5 Список привязанных сайтов
			.col.col-md-6.align-right
				.btn-group
					button.btn.btn-success.add Привязать сайт
	.panel-body Testing...
	table.table
		thead
			th Имя сайта
		tbody
