$static-path    = STATIC_DIR
$icon-font-path = pathjoin($static-path, 'icons-fonts/')

@require 'bootstrap'
@require 'nib'

html, body
	height 100%

@media (min-width $screen-md-min)
	.v-stretchy
		height 100%

.align-right
	text-align right

.loading-text
	padding 2em

.header-view
	ul.navbar-nav li.active a
		color $navbar-default-link-hover-color !important
		background-color $navbar-default-link-active-bg !important
		font-weight bold

#header
	margin-bottom 1em

label-stretch()
	label
		width 100%

.signin-view
	label-stretch()
	
	form.ucoz-auth
		position relative
		
		iframe.ucoz-auth-wrapper
			border 0
			absolute left 0 top 0
			size 1px 1px
			z-index -9999

.signup-view
	label-stretch()

.add-site-view
	label-stretch()
