$static-path = '/public/'
$icon-font-path = pathjoin($static-path, 'icons-fonts/')

@require 'bootstrap'
@require 'nib'

html, body
	height 100%

@media (min-width $screen-md-min)
	.v-stretchy
		height 100%

.header-view
	ul.navbar-nav li.active a
		color $navbar-default-link-hover-color !important
		background-color $navbar-default-link-active-bg !important
		font-weight bold
